<!DOCTYPE html>
<html>
    <head>
        <title>Couchbase Sneakers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <script type='text/javascript'>
            $(function() {
        // Stick the #nav to the top of the window
                var nav = $('#nav');
                var navHomeY = nav.offset().top;
                var isFixed = false;
                var $w = $(window);
                $w.scroll(function() {
                    var scrollTop = $w.scrollTop();
                    var shouldBeFixed = scrollTop > navHomeY;
                    if (shouldBeFixed && !isFixed) {
                        nav.css({
                            position: 'fixed',
                            top: 0,
                            left: nav.offset().left,
                            width: nav.width()
                        });
                        isFixed = true;
                    }
                    else if (!shouldBeFixed && isFixed)
                    {
                        nav.css({
                            position: 'static'
                        });
                        isFixed = false;
                    }
                });
            });
        </script>


    </head>
    <body>
            <div id="nav">
                <a class="btn btn-hg btn-primary btn-inverse navbar-btn row-fluid" href="/">Couchbase Sneakers</a>
            </div>
            
       
        <div class="container">
            <%= render_flash_messages %>

            <%= yield %>
            <br><br><br><br>
            <hr>

            <footer id="footer">
                <!--<p>
                    Based on <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a target="_blank" href="http://www.couchbase.com">Couchbase</a>.
                    Icons from <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>.
                    Web fonts from <a target="_blank" href="http://www.google.com/webfonts">Google</a>.
                </p></-->
                <p>
                    <a href= "https://github.com/radic44morgan">Morgan Radic.</a>
                </p>
            </footer>
        </div>
    </body>
</html>
