<!DOCTYPE html>
<html>
    <head>
        <title>Couchbase Sneakers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-hg btn-primary">
                        <%= link_to "Couchbase Sneakers", root_path, :class => "brand" %>
                    </button>
                    <div class="nav-collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <%= render_flash_messages %>

            <%= yield %>
            <br><br><br><br>
            <hr>

            <footer id="footer">
                <p>
                    Code licensed under the <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
                    Based on <a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a target="_blank" href="http://www.couchbase.com">Couchbase</a>.
                    Icons from <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>.
                    Web fonts from <a target="_blank" href="http://www.google.com/webfonts">Google</a>.
                </p>
            </footer>
        </div>
    </body>
</html>
